/* This is color palette
Off White #F6F4E7 , Olive #55823A , Light Olive #9CBC5B */ 

/* background + border effects */


/* header styles */

body {
    background-color: black;
}

#title {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15vw;
    line-height: 12vw;
    letter-spacing: -1vw;
    color: white;
}

span:hover {
    font-family: lores-21-serif, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 16vw;
    color: yellow;
    letter-spacing: 0.5vw;
    transition: 300ms;
  }

#recent {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    line-height: 6vw;
    color: white;
}

#recent:hover {
    font-style: italic;
    padding: 1vw;
    color: yellow;
    transition: 300ms;
  }

main {
    display: grid;
    grid-template-rows: auto;
    gap: 2vw;
    padding: 1vw;
    background-color: purple;
    border: 1px solid rgb(209, 237, 28);
  }
  
  aside {
    background-color: purple;
    justify-content: center;
    border: 0.5px solid rgb(167, 245, 23);
  }

  #aside-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    padding: 2vw;
  }

  #article-body {
    gap: 2vw;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2vw;
  }

  nav {
    padding: 2vw;
    background-color: white;
  }
  
  #nav-article {
    position: sticky;
    top: 0;
    margin-bottom: 3vw;
  }
  
  #nav-aside {
    text-align: center;
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  #nav-previous {
    text-align: left;
  }
  
  #nav-next {
    text-align: right;
  }

  article {
    margin-top: 3vw;
    border: 1px solid greenyellow;
  }

  a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3vw;
    line-height: 1vw;
    color: black;
}

 #nav-a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 1vw;
    color: black;
 }


 /* body content and div styles */

div {
    background-color: transparent;
}

.show-titles {
    border: 1px solid yellowgreen;
    padding: 1vw;
    color: #F6F4E7;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
}

.show-info {
    border: 1px solid yellowgreen;
    padding: 1vw;
    color: #F6F4E7;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
}

@media (min-width: 700px) {
    #article-body {
        gap: 2vw;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2vw;
      }
      .show-titles {
        border: 1px solid yellowgreen;
        padding: 1vw;
        color: #F6F4E7;
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 3vw;
        letter-spacing: 0.4vw;
    }
    .show-info {
        border: 1px solid yellowgreen;
        padding: 1vw;
        color: #F6F4E7;
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.6vw;
    }
}

@media (min-width: 900px) {
    #article-body {
        gap: 2vw;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2vw;
      }
      .show-titles {
        border: 1px solid yellowgreen;
        padding: 1vw;
        color: #F6F4E7;
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 2.5vw;
        letter-spacing: 0.1vw;
    }
    .show-info {
        border: 1px solid yellowgreen;
        padding: 1vw;
        color: #F6F4E7;
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3vw;
    }
}