body {
    --base: 2vw;
}

#title {
    background-color: hotpink;
    margin: 1vw;
    padding: 1vw;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13vw;
    line-height: 12vw;
    color: blue;
}

span:hover {
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15.5vw;
    line-height: 11vw;
    color: red;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:link:hover {
    color: white;
}

#sub-header {
    margin: 1vw;
    padding: 1vw;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4vw;
    color: hotpink;
}

button {
    background-color: hotpink;
    padding: calc(var(--base)/2);
    cursor: pointer;
    border-radius: calc(var(--base)/2);
}

button:nth-child(1) {
    color: white;
}
button:nth-child(2) {
    color: black;
}
button:nth-child(3) {
    color: red;
}
button:nth-child(4) {
    color: pink;
}
button:nth-child(5) {
    color: blue;
}

#container {
    padding: 2vw;
    grid-template-rows: 1fr 4fr;
}

#content-button {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: var(--base);
    max-height: fit-content;
    justify-content: space-around;

}

#responsive {
    width: 100%;
  height: auto;
}



#shirts {
    display: relative;

}

#nav-article {
    position: sticky;
    top: 0;
    margin-bottom: 3vw;
    
}

#nav-aside {
    text-align: center;
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#nav-previous {
    text-align: left;
}

#nav-a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 1vw;
    color: white;
}

#nav-a:hover {
    color: blue;
}





div {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
}