body {
    background-color: rgb(241, 239, 239);

}

header {
    background-color: transparent;
    border: 1px solid rgb(21, 169, 237);
    padding: 1vw;

}

div {
    font-family: din-condensed, sans-serif;
    font-size: 2vw;
    border: 1px solid rgb(32, 108, 223);
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
}

section {
    border: 1px solid rgb(226, 23, 23);
    border-radius: 0vw;
    display: grid;
    grid-template-columns: 200px 2fr;
}

aside {
    border: 1px solid rgb(16, 235, 41);

}


