header {
    border: 1px solid black;
    padding: 2vw;
    margin: 2vw
}

article {
    margin-top: 5vw;
    border: 1px solid greenyellow;
}

aside {
    justify-content: center;
    border: 0.5px solid rgb(167, 245, 23);
}

span:hover {
    color: yellowgreen;
    font-family: desire-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24.5vw;
    letter-spacing: 1vw;
    line-height: 23vw;
}

nav {
    padding: 2vw;
    background-color: white;
}

#nav-article {
    position: sticky;
    top: 0;
    margin-bottom: 3vw;
}

#nav-aside {
    text-align: center;
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#nav-previous {
    text-align: left;
}

#nav-next {
    text-align: right;
}

#nav-a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 1vw;
    color: black;
}

#nav-a:hover {
    background-color: white;
}

#a-definition {
    border: 1px solid purple;
    width: 100%;
}

.header {
    color: lightblue;
    margin-top: 5vw;
}

main {
    border: 1px solid rgb(35, 221, 32);
    background-color: lightblue;
}

body {
    padding: 2vw;
    background-color: black;
}

div {
    border: 1px solid purple;
}

div:hover {
    padding: 1vw;
}

a:link {
    color: black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 1vw;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    font-weight: 700;
    cursor: pointer;
}

a:hover {
    background-color: blue;
    color: white;
}

.title {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20vw;
    line-height: 16vw;
    color: black;
    text-align: left;
}


.aktiv-first {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 1vw;
    line-height: 1.2vw;
    color: black;

}

.button {
    font-family: aktiv-grotesk, sans-serif;
}

.personaldata {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 450;
    line-height: 20px;
    text-align: left;
    padding-left: 5%;
}


#blur {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: transparent;
    text-shadow: 0 0 6px #000000;
}

* {
    box-sizing: border-box;
}

.grid-container-element-header {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-gap: 20px;
    border: 1px solid lightblue;
    width: 100%;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
}

.grid-child-element-header {
    padding: 0.5vw;
    margin: 10px;
    border: 1px solid yellow;
}

.grid-container-element {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1vw;
    width: 100%;
    border: 1px solid rgb(50, 238, 17);
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.8vw;
    line-height: 2vw;
    color: black;
}

.grid-child-element {
    padding: 1vw;
    margin: 10px;
    border: 1px solid yellow;
}

.grid-container-element:hover {
    background-color: white;
}

@media (min-width: 900px) {
    .grid-container-element {
        background-color: white;
    }

    .header {
        color: rgb(255, 255, 255);
    }

    main {
        background-color: rgb(255, 255, 255);
    }

    a:link,
    a:visited {
        background-color: white;
        color: blue;
    }

    a:hover {
        background-color: hotpink;
        color: white;
    }

    .title {
        color: blue;
    }

    #blur {
        text-shadow: 0 0 6px blue;
    }

    .grid-child-element {
        color: blue;
    }

    .grid-child-element:hover {
        color: white;
    }

    .grid-container-element:hover {
        background-color: hotpink;
    }

    .aktiv-first {
        color: blue;
    }

    .aktiv-first:hover {
        color: white;
    }
}

@media (max-width: 500px) {
    .grid-container-element {
        grid-template-columns: 1fr;
    }

    .grid-container-element {
        background-color: coral;
    }

    .header {
        color: coral;
    }

    main {
        background-color: coral;
    }

    a:link {
        color: white;
    }

    a:hover {
        background-color: blueviolet;
        color: white;
    }

    .title {
        color: white;
    }

    #blur {
        text-shadow: 0 0 6px #ffffff;
    }

    .grid-child-element {
        color: white;
    }

    .grid-container-element:hover {
        background-color: blueviolet;
    }

    .aktiv-first {
        color: white;
    }
}