#title {
    background-color: black;
    margin: 1vw;
    padding: 1vw;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15vw;
    line-height: 13vw;
    color: white;
}

span:hover {
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15.5vw;
    line-height: 11vw;
    color: red;
}

a:link {
    text-decoration: none;
    color: white;
}

#sub-header {
    margin: 1vw;
    padding: 1vw;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    color: rgb(245, 10, 10);
}

#text {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: white;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#wrapper>div {
    background-color: blue;
}

#wrapper>div:nth-child(odd) {
    background-color: rgb(21, 137, 233)
}

#nav-article {
    position: sticky;
    top: 0;
    margin-bottom: 3vw;
}

#nav-aside {
    text-align: center;
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#nav-previous {
    text-align: left;
}

#nav-a {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 1vw;
    color: black;
}

#nav-a:hover {
    color: hotpink;
}

h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
}

p {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 2vw;
}

section:hover {
    background-color: hotpink;
    padding: .3vw;
}

div {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
}

@media (max-width: 400px) {
    section:hover {
        background-color: aqua;
    }
    div {
        font-family: aktiv-grotesk, sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 2.5vw;
        color: blue
    }
}

@media (min-width: 1000px) {
    section:hover {
        background-color: greenyellow;
    }
    div {
        font-family: aktiv-grotesk, sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 2.5vw;
        color: green
    }
}