/* This is color palette
Off White #F6F4E7 , Olive #55823A , Light Olive #9CBC5B */

/* background + border effects 
 <div class="heart-shape"></div> */



body {
  background-color: black;
  padding: 2vw;
}

main {
  display: grid;
  grid-template-rows: auto;
  gap: 2vw;
  padding: 1vw;
  background-color: red;
  border: 1px solid rgb(195, 28, 237);
}

aside {
  border: 1px solid rgb(30, 186, 242);
}

article {
  padding: 1vw;
  margin-top: 5vw;
  border: 1px solid greenyellow;
}

section {
  gap: 2vw;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: red;
  border: 1px solid blue
}

section:not(:first-child) {
  margin-top: 2vw;
}

div {
  margin: 1vw;
  border: 1px solid rgb(0, 0, 0);
}

#thumbnail {
  padding: 2vw;
}


