/* This is color palette
Off White #F6F4E7 , Olive #55823A , Light Olive #9CBC5B */

/* background + border effects 
 <div class="heart-shape"></div> 
 
 font-family: lores-21-serif,sans-serif;
font-weight: 400;
font-style: normal;
 */



body {
  background-color: black;
  padding: 2vw;
}

main {
  display: grid;
  grid-template-rows: auto;
  gap: 2vw;
  padding: 1vw;
  background-color: lightgrey;
  border: 1px solid rgb(195, 28, 237);
}

aside {
  justify-content: center;
  border: 0.5px solid black;
}

article {
  margin-top: 5vw;
  border: 1px solid greenyellow;
}

#article-content {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  gap: 1vw;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: lightgrey;
  border: 1px solid blue
}

section:not(:first-child) {
  margin-top: 2vw;
}

#div-link:hover {
  padding: 2.2vw;
  color: white;
  background-color: black;
  transition: 200ms;
  border-radius: 2vw;
}

div {
  display: grid;
  grid-template-rows: 1fr;
  text-justify: center;
  padding: 1vw;
  color: black;
  margin: 1vw;
  border: 1px solid rgb(0, 0, 0);
}

#video {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 1vw;
}

#video:hover {
  padding: 0.5vw;
}

span:hover {
  font-family: lores-21-serif, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16vw;
  color: white;
  letter-spacing: 0.5vw;
  transition: 300ms;
}

#info {
  display: grid;
  grid-template-columns: 1fr;
}

a:hover {
  color: white;
  transition: 300ms;
}

#recent:hover {
  color: white;
  transition: 300ms;
}

nav {
  padding: 2vw;
  background-color: white;
}

#nav-article {
  position: sticky;
  top: 0;
  margin-bottom: 3vw;
}

#nav-aside {
  text-align: center;
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#nav-previous {
  text-align: left;
}

#nav-next {
  text-align: right;
}

video {
  display: flex;
  flex-direction: auto;
}

#caption {
  font-weight: 200;
}

@media (max-width: 500px) {
  section {
    grid-template-columns: 1fr;
  }
}



@media (min-width: 900px) {
  div {
    padding: 1vw;
    color: black;
    margin: 0vw;
    border: 1px solid rgb(0, 0, 0);
  }

  #article-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section {
    margin: 1.5vw;
  }

  #thumbnail {
    width: 9vw;
  }
}